* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 20px;
  user-select: none;
  scroll-behavior: smooth;
  
  p {
    text-indent: 30px;
  }

  &::first-letter:not(input::placeholder) {
    text-transform: uppercase;
  }
}

html {
  width: 100vw;
  background: #fcfaf8;
  overflow-x: hidden;
}

.navbar {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 5vw;
  background: #fcfaf8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 98;

  .logo {
    width: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 80px;

    a img {
      width: 150px;
      height: 60px;
      object-fit: contain;
    }

    svg,
    i {
      display: none;
      color: #383a3d;
    }
  }

  .links {
    width: 900px;
    position: relative;
    height: 80px;

    .over {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .link {
        a {
          cursor: pointer;
          font-size: 15px;
          color: #383a3d;
          font-family: "Work Sans", sans-serif;
          font-weight: 700;
          transition: color 0.5s ease-in-out;

          i {
            padding: 0 20px;
          }

          &:hover {
            color: #17aa4b !important;
          }
        }
        &::first-letter {
          width: auto;
          text-transform: uppercase;
        }
      }
    }
  }
}

.backSVG {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' opacity='0.8' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23b6b3b3' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.fullPage {
  width: 100vw;
  min-height: 100vh;

  .txt {
    width: 60vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // top: 40%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    h1 {
      font-weight: 700;
      font-size: 50px;
      font-family: "Work Sans", sans-serif;
      padding: 30px 0;
    }

    p {
      width: 90%;
      font-family: "Work Sans", sans-serif;
      font-size: 32px;
      line-height: 1.4;
      letter-spacing: 2px;
      font-weight: 400;
      border-color: rgb(75, 75, 75);
    }
  }
  .imag {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center center;
      width: 1500px;
    }
  }

  .title {
    width: 80vw;
    text-align: center;
    margin: 80px 10vw;
    border-bottom: 1px solid #4b4b4b;

    h1 {
      font-size: 37px;
      font-family: "Work Sans", sans-serif;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 37px;
      font-family: "Work Sans", sans-serif;
      font-weight: 500;
      margin-bottom: 30px;
    }
  }

  .membrii {
    margin: auto;
    width: 90vw;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    border-bottom: 1px solid #4b4b4b;
    margin-bottom: 30px;
    justify-content: center;

    .membru {
      width: 300px;
      min-height: 170px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 10px;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }

      h2 {
        font-size: 25px;
        font-family: "Work Sans", sans-serif;
        margin: 8px;
      }

      h5 {
        margin: 4px;
        font-size: 17px;
        color: #4b4b4b;
      }
    }
  }

  .post {
    width: 70vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .upl {
      min-width: 300px;
      position: relative;

      h6 {
        font-weight: 500;
        margin-bottom: 20px;
      }

      .linie {
        width: 40px;
        height: 2px;
        background: #000000;
      }
    }

    h1 {
      width: 100%;
      text-align: left;
      margin: 50px 0;
      color: #131313;
      font-family: "Work Sans", sans-serif;
      font-size: 50px;
      line-height: 1.5;
      font-weight: 500;

      span {
        color: #bebebe;
        font-family: "Work Sans", sans-serif;
        font-size: 40px;
        font-weight: 500;
      }
    }
    .descr {
      user-select: auto;
      justify-self: center;
      align-self: center;
      white-space: pre-wrap;
      text-align: center;
      line-height: 1.5;
      color:#7a7a7a;
    }
    .fle{
      margin: 50px 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: baseline;
      flex-wrap: wrap;
      
      img{
        width: 300px;
        height: auto;
      }
    }
  }
}

.displayFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stem {
  width: 100vw;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 70px 0;

  img {
    width: 500px;
    height: auto;
    padding: 0 0 0 20px;
  }

  .stemText {
    padding: 0 0 0 50px;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h3 {
      font-size: 37px;
      font-weight: 400;
      color: black;
      font-family: "Work Sans", sans-serif;
      margin: 0 0 30px 0;
    }

    h6 {
      font-size: 18px;
      font-family: "Work Sans", sans-serif;
      word-spacing: 5px;
      color: #3d3c3c;
      line-height: 1.5;
      font-weight: 400;
    }

    #STEM {
      font-weight: 700;
      color: #383a3d;
    }
  }
}

.more {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d4d4d4;

  .press {
    cursor: pointer;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .hide {
    transition: height 0.5s ease-in-out;
    overflow: hidden;

    h6 {
      padding: 0 20px;
      font-size: 18px;
      font-family: "Work Sans";
      word-spacing: 5px;
      color: #3d3c3c;
      line-height: 1.5;
      font-weight: 400;
      margin: 20px 0;
    }
  }
}

.contact {
  width: 100vw;
  height: 750px;
  position: relative;

  .contactForm {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    width: 416px;
    height: 536px;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
      inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;

    h2 {
      font-size: 37px;
      font-family: "Work Sans", sans-serif;
      color: #131313;
      padding-bottom: 10px;
    }

    h5 {
      font-size: 16px;
      font-family: "Work Sans", sans-serif;
      color: #3d3c3c;
      padding-bottom: 20px;
    }

    .row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      input {
        width: 150px;
        font-family: "Work Sans", sans-serif;
        padding: 20px 10px;
        border: none;
        outline: none;
        background: #f3f1ef;
        font-size: 17px;
      }
    }

    textarea {
      resize: none;
      width: 100%;
      height: 90px;
      background: #f3f1ef;
      font-family: "Work Sans", sans-serif;
      border: none;
      outline: none;
      padding: 20px;
    }

    button {
      margin-top: 30px;
      width: 100%;
      height: 60px;
      background: #8cc640;
      color: #ffffff;
      border: none;
      outline: none;
      font-size: 20px;
      font-family: "Work Sans", sans-serif;
      cursor: pointer;
      border-radius: 5px;
    }
  }
}

.backgroundContact {
  background: url(./assets/thirdBackgroundHome.jpg);
  background-position: center center;
  background-attachment: fixed;
}

.premii {
  width: 100vw;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;

  .tit {
    width: 100vw;
    text-align: center;
    margin-top: 40px;

    h1 {
      font-family: "Work Sans", sans-serif;
      font-size: 37px;
    }
  }

  .premi {
    margin: 30px auto;
    min-height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .back,
    .next {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border-radius: 50%;
      outline: none;
      border: none;
      cursor: pointer;
      background: #17aa4b;

      i {
        color: #ffffff;
        font-size: 22px;
        line-height: 52px;
      }
    }

    .back {
      top: 50%;
      left: 0;
      transform: translate(-30%, -50%);
    }

    .next {
      top: 50%;
      right: 0;
      transform: translate(30%, -50%);
    }

    .dots {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 50px auto;

      .dot {
        width: 15px;
        height: 15px;
        cursor: pointer;
        background: #8cc640;
        border-radius: 50%;
        border: none;
        outline: none;
      }
    }

    .premiu {
      width: 100%;
      min-height: 700px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      img {
        width: 50%;
        height: 100%;
        object-fit: contain;
      }

      .scris {
        padding: 50px;
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h1 {
          font-size: 37px;
          font-family: "Work Sans", sans-serif;
          line-height: 1.4;
          font-weight: 500;
          color: #131313;
          margin-bottom: 30px;
        }

        h4 {
          font-size: 18px;
          font-family: "Work Sans", sans-serif;
          font-weight: 400;
          line-height: 1.4;
          color: #3d3d3d;
          margin-bottom: 40px;
        }

        p {
          font-size: 18px;
          font-family: "Work Sans", sans-serif;
          color: #3d3c3c;
          font-weight: 400;
          line-height: 1.4;
        }
      }
    }
  }
}

.round {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  background: #17aa4b;

  i {
    color: #ffffff;
    font-size: 22px;
    line-height: 52px;
  }
}

.sponsori {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 50px 0;
  overflow-x: scroll;
  padding-bottom: 30px;

  img {
    height: 70px;
    width: auto;
    margin: 0 50px;
  }
}

.alumni {
  width: 100vw;
  min-height: 70vh;

  img {
    width: 100px;
  }
  h1 {
    text-align: center;
    font-size: 37px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
  }

  .mem {
    margin: 0 auto;
    width: 90vw;
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .m {
      padding: 10px;
      width: 350px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      margin: 20px;

      img {
        width: 300px;
        margin-bottom: 30px;
        border-radius: 50%;
      }

      p {
        font-size: 20px;
        color: #7a7a7a;
        font-family: "Roboto", sans-serif;
        text-align: center;
        margin: 0 0 20px 0;
      }
      .inf {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h5 {
          font-size: 15px;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          color: #6ec1e4;
          line-height: 1.4;
        }

        h6 {
          font-size: 13px;
          font-family: "Roboto Slab", sans-serif;
          font-weight: 500;
          color: #54595f;
        }
      }
    }
  }
}

.apl {
  width: 100vw;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    width: 630px;
    height: auto;
    object-fit: contain;
  }

  .sc {
    width: 630px;
    min-height: 470px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h1 {
      font-size: 27px;
      font-family: "Work Sans", sans-serif;
      margin: 0 0 20px 0;
    }

    p {
      font-size: 20px;
      font-family: "Open Sans", Arial sans-serif;
      color: #4b4b4b;
      margin-bottom: 30px;
    }

    h4 {
      font-size: 20px;
      font-family: "Open Sans", Arial sans-serif;
      color: #4b4b4b;

      b {
        color: #131313;
      }
    }
  }
}

.qr {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  a {
    margin: 20px;
    padding: 13px 15px;
    background: #17aa4b;
    color: white;
    border-radius: 5px;
  }

  img {
    margin: 20px;
  }
}

.despre {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  img {
    width: 600px;
    height: auto;
  }
  .s {
    width: 40vw;
    padding: 20px;

    h1 {
      margin: 20px 0;
      font-size: 27px;
      font-family: "Work Sans", sans-serif;
    }

    p {
      padding: 20px 0;
    }
  }
}

.fl {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  img {
    margin: 0 30px;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

$brand-primary: #17aa4b;

.log {
  width: 100vw;
  min-height: calc(100vh - 80px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .svg-top {
    position: fixed;
    top: -90%;
    right: -20%;
  }
  .svg-bottom {
    position: fixed;
    bottom: -55%;
    left: -15%;
  }

  .container {
    align-self: flex-end;
    justify-content: flex-start;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
    width: 100vw;

    .wrapper {
      padding: 40px;
      background-color: #fff;
      border-radius: 20px;
      width: 350px;
      z-index: 1;
      header {
        margin-bottom: 40px;
        .logo {
          width: 85px;
          height: 85px;
          border-radius: 50px;
          background-color: #17aa4b;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-size: 18px;
            color: #fff;
          }
        }
        h1 {
          color: #17aa4b;
          font-size: 35px;
          font-weight: 500;
          margin-bottom: 0;
          margin-top: 40px;
        }
        p {
          color: #17aa4b;
          font-size: 18px;
          font-weight: 300;
          margin: 5px 0 0 0;
        }
      }
      .main-content {
        input {
          border: none;
          display: block;
          width: 100%;
          height: 50px;
          margin: 15px 0;
          font-size: 18px;
          color: #999;
          &::placeholder {
            color: #999;
            font-size: 18px;
            font-weight: 300;
          }
          &:focus {
            outline: none;
          }
        }
        .line {
          width: 100%;
          height: 2px;
          background-color: #99999955;
        }
        button {
          background: linear-gradient(to right, #17aa4b, #17aa4b);
          border: none;
          border-radius: 50px;
          font-size: 18px;
          font-weight: 300;
          color: #fff;
          display: block;
          width: 100px;
          height: 40px;
          margin: 0 auto;
          outline: none;
          cursor: pointer;
        }
      }
      footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 60px;
        p {
          margin: 0;
          font-weight: 100;
          cursor: pointer;
          div {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.pagination{
  width: auto;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .pag{
    padding: 10px;
    background: #17aa4b;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin: 15px;
  }
}

.posts {
  max-width: 1000px;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  flex-wrap: wrap;

  a {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;

    img {
      width: 90%;
      margin: 0 auto 20px auto;
    }
    h1 {
      font-family: "Work Sans", sans-serif;
      font-size: 37px;
      color: #2e2e2e;
      text-align: center;
      width: 100%;
    }
  }
}

.galerie{ 
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  a{
    margin-bottom: 30px;
    padding: 50px 10%;
    background: #17aa4b;
    transition: 0.2s ease-in-out;

    h1{
      font-size: 80px;
      font-weight: 500;
      transition: 0.2s ease-in-out;
      font-family: "Work Sans", sans-serif;
      color: white;
    }

    &:hover{
      background: #131313;
      h1{
        color: #17aa4b;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .wrapper {
    margin: 0 10px !important;
    padding: 30px;
    header {
      h1 {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .navbar {
    flex-direction: column;
    height: auto;
    .logo {
      width: 100%;
      svg,
      i {
        display: block;
        cursor: pointer;
        font-size: 25px;
      }
    }
    .links {
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: height 0.5s ease-in-out;

      .over {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: auto;

        .link {
          margin: 10px;
        }
      }
    }
  }

  .fullPage {
    .txt {
      width: 90vw;
    }
    .imag {
      object-fit: contain;
      width: 100vw;
    }
  }

  .stem {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 70%;
      padding-bottom: 50px;
    }
  }

  .contact .contactForm {
    width: 70vw;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    .row input {
      width: 48%;
    }
  }

  .premii {
    .premi {
      .premiu {
        flex-direction: column;
        justify-content: flex-start;
        .scris {
          width: 60%;
          .h1,
          h4,
          p {
            text-align: center;
            margin: 0 auto 25px auto;
          }
          h1 {
            padding-top: 50px;
          }
        }
      }
      .dots {
        margin: 0 auto;
      }
    }
  }

  .apl {
    flex-direction: column;

    .sc {
      min-height: auto;
    }
  }

  .despre {
    flex-direction: column;
    align-items: center;

    img {
      width: 70vw;
    }
    .s {
      width: 70vw;
    }
  }

  .fl {
    flex-direction: column;

    img {
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 950px) {
  .fullPage {
    .txt {
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 25px;
      }
    }
    .imag {
      top: 600px;
      img {
        width: 100vw;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .apl {
    img,
    .sc {
      width: 95%;
    }
  }
}

@media screen and( max-width: 600px) {
  .premii {
    .premi {
      .premiu {
        .scris {
          width: 100%;
          padding: 10px;
        }
      }
      .dots {
        width: 300px;
      }
    }
  }

  .fullPage {
    .txt {
      top: 50%;
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
      }
    }
  }

  .stem .stemText {
    padding: 0;
    width: 90vw;
  }

  .contact .contactForm {
    width: 90vw;
    padding: 15px;
    right: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    .row input {
      width: 48%;
    }
  }

  .despre {
    .s {
      padding: 0;
      width: 90vw;
    }
  }
}

@media screen and (max-width:360px){
  .fullPage .txt{
    font-size: 18px;
  }
}


.animate {
  animation-name: land;
    margin-top: 20px;
    animation-duration: 2s;
}

.an{
  animation-name: stay;
  animation-duration: 2s;margin-top: 70px;
}

@keyframes stay{
  from{
    margin-top: 0;
  }
  to{
    margin-top: 70px;
  }
}

@keyframes land {
  from {
    opacity: 0;
    margin-top: 90px;
  }
  to {
    opacity: 1;
    margin-top: 20px;
  }
}
